<launch>

  <arg name="limited" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model.xacro" />  

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robotiq_arg2f_140_model -z 0.3 -P 3.1415 -unpause" respawn="false" output="screen" />

  <rosparam file="$(find robotiq_2f_140_gripper_visualization)/config/gazebo_controller.yaml" command="load" />
  <!-- joint_state_controller -->
  <rosparam file="$(find robotiq_2f_140_gripper_visualization)/config/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller"  respawn="false" output="screen"/>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Gripper controller -->
  <rosparam file="$(find robotiq_2f_140_gripper_visualization)/config/2f_140_control.yaml" command="load"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper" output="screen"/>

</launch>